$black: #000000;
$dark-gray: #333333;
$medium-gray: #454545;
$gray: #aaaaaa;
$light-gray: #efefef;
$white: #ffffff;
$red: #bd2025;
$yellow: #ffcb2e;
$blue: #035595;
$purple: #4e2875;

$button-padding: "10px 40px";
