@import 'styles/common';

.wp-block-limeguten-button {

	.button {
		background-color: $black;
		border: 2px solid $black;
		border-radius: 0;
		color: $white;
		padding: #{$button-padding};
		text-align: center;

		&:hover,
		&:focus {
			background-color: $white;
			color: $black
		}
	}

}
