@import 'styles/common';

.wp-block-limeguten-button {

	.editor-plain-text {
		background-color: map-get( $colors, black );
		border-radius: 0;
		color: $white;
		padding: #{$button-padding};
		text-align: center;
		width: auto;
		max-width: 300px;

		&:focus {
			color: $white;
		}

		&::-webkit-input-placeholder {
			color: map-get( $colors, gray );
		}

		&::-moz-placeholder {
			color: map-get( $colors, gray );
		}

		&:-ms-input-placeholder {
			color: map-get( $colors, gray );
		}

		&:-moz-placeholder {
			color: map-get( $colors, gray );
		}

		@each $name,$value in $colors {
			@at-root .is-style-#{$name}#{&} {
				background-color: $value;
			}
		}
	}

}
