@import 'styles/common';

.wp-block-limeguten-button {

	.editor-plain-text {
		background-color: map-get( $colors, black );
		border-radius: 0;
		color: $white;
		padding: #{$button-padding};
		text-align: center;
		width: auto;
		max-width: 300px;

		&:focus {
			color: $white;
		}

		&::-webkit-input-placeholder {
			color: map-get( $colors, gray );
		}

		&::-moz-placeholder {
			color: map-get( $colors, gray );
		}

		&:-ms-input-placeholder {
			color: map-get( $colors, gray );
		}

		&:-moz-placeholder {
			color: map-get( $colors, gray );
		}

		@each $name,$value in $colors {
			@at-root .is-style-#{$name}#{&} {
				background-color: $value;
			}
		}
	}

}

.wp-block-limeguten-sixty-forty {
	border: 1px dashed map-get( $colors, blue );
	padding: 10px;

	> .editor-inner-blocks > .editor-block-list__layout {
		display: flex;
		flex-wrap: wrap;
		margin-left: -10px;
		margin-right: -10px;

		[data-type="core/column"] {
			flex: 0 0 calc( 100% - 20px );
			border: 1px dashed map-get( $colors, blue );
			margin: 10px;

			&:first-child {
				border-color: map-get( $colors, red );

				@at-root .is-fourth-column#{&} {
					flex-basis: calc( 25% - 20px );
				}

				@at-root .is-third-column#{&} {
					flex-basis: calc( 33.33% - 20px );
				}

				@at-root .is-two-third-column#{&} {
					flex-basis: calc( 66.66% - 20px );
				}

				@at-root .is-three-fourth-column#{&} {
					flex-basis: calc( 75% - 20px );
				}
			}

			@include river {
				@at-root .is-half-column#{&} {
					flex-basis: calc( 50% - 20px );
				}

				@at-root .is-fourth-column#{&} {
					flex-basis: calc( 75% - 20px );
				}

				@at-root .is-third-column#{&} {
					flex-basis: calc( 66.66% - 20px );
				}

				@at-root .is-two-third-column#{&} {
					flex-basis: calc( 33.33% - 20px );
				}

				@at-root .is-three-fourth-column#{&} {
					flex-basis: calc( 25% - 20px );
				}
			}
		}
	}
}
